@charset "utf-8";
/* CSS Document */
.vipban{
	max-width:1200px;
	width:100%;
	float:left;
	}
.vipone{
	width:100%;
	max-width:1198px;
	height:auto;
	float:left;
	margin-top:14px;
	border-top:1px solid #ebebeb;
	border-left:1px solid #ebebeb;
	border-right:1px solid #ebebeb;
	background:#fff;
	}
.vipone li{
	width:100%;
	max-width:1198px;
	min-height:48px;
	float:left;
	border-bottom:1px solid #ebebeb;
	}
.viponea{
	width:100%;
	max-width:1198px;
	height:48px;
	float:left;
	}
.viponea span{
	width:22px;
	height:22px;
	display:block;
	float:left;
	margin-left:30px;
	margin-top:13px;
	margin-right:4px;
	}
.viponea p{
	float:left;
	color:#444;
	font-size:18px;
	line-height:48px;
	}
.viponeb{
	width:100%;
	max-width:1198px;
	height:auto;
	float:left;
	}
.viponeb p{
	margin-left:20px;
	margin-right:20px;
	margin-bottom:22px;
	color:#444;
	font-size:14px;
	line-height:23px;
	}
.viptwo{
	width:100%;
	max-width:1198px;
	height:auto;
	float:left;
	border:1px solid #eaeaea;
	margin-top:10px;
	background:#fff;
	}
.viptwoa{
	width:100%;
	max-width:1198px;
	height:65px;
	float:left;
	}
.viptwoa p{
	line-height:65px;
	color:#444444;
	font-size:20px;
	font-weight:bold;
	margin-left:25px;
	}
.viptwob{
	width:100%;
	max-width:1198px;
	height:auto;
	float:left;
	}
.viptwob li{
	max-width:555px;
	width:100%;
	min-height:203px;
	float:left;
	margin-left:30px;
	*margin-left:15px;
	margin-bottom:50px;
	}
.viptwole{
	max-width:278px;
	width:100%;
	float:left;
	margin-right:20px;
	}
.viptwori{
	width:240px;
	height:auto;
	float:left;
	}
.viptwori .via{
	color:#444;
	font-size:16px;
	font-weight:bold;
	}
.viptwori .vib{
	color:#666666;
	font-size:14px;
	margin-top:15px;
	width:240px;
	height:auto;
	float:left;
	}
.viptwori .vic{
	width:240px;
	height:auto;
	float:left;
	color:#444;
	font-size:14px;
	margin-top:15px;
	}
.viptwori .vic .vid{
	float:left;
	}
.viptwori .vic .vif{
	color:#6469c5;
	display:block;
	width:140px;
	height:auto;
	float:right;
	}
.viptwori .vie{
	float:left;
	width:91px;
	height:32px;
	display:block;
	background:#ffa200;
	line-height:32px;
	text-align:center;
	border-bottom:2px solid #ff7400;
	border-radius:3px;
	color:#fff;
	font-size:14px;
	margin-top:35px;
	}
	
.vipthree{
	max-width:1198px;
	width:100%;
	min-height:181px;
	float:left;
	border:1px solid #eaeaea;
	margin-top:10px;
	background:#fff;
	}
.vipthea{
	max-width:1198px;
	width:100%;
	height:30px;
	float:left;
	margin-top:8px;
	}
.vipthea p{
	line-height:30px;
	color:#444444;
	font-size:20px;
	font-weight:bold;
	margin-left:25px;
	}
.vipthrb{
	max-width:1198px;
	width:100%;
	height:auto;
	float:left;
	margin-top:8px;
	}
.vipthrb li{
	width:238px;
	height:110px;
	float:left;
	display:block;
	}
.vipthrb li .vig{
	width:19px;
	height:35px;
	display:block;
	float:right;
	margin-top:40px;
	overflow:hidden;
	margin-right:20px;
	}
.vipthrb li .vii .vih{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:75px;
	overflow:hidden;
	height:75px;
	}
.vipthrb li .vii p{
	width:190px;
	height:25px;
	line-height:25px;
	text-align:center;
	font-size:16px;
	color:#444;
	}
.vipthrb li .vii{
	width:190px;
	height:auto;
	display:block;
	float:left;
	}
.vip_lc{
	max-width:1198px;
	width:100%;
	min-height:123px;
	float:left;
	border:1px solid #eaeaea;
	background:#fff;
	}
.vip_lc .vil{
	float:left;
	line-height:123px;
	color:#444;
	font-size:20px;
	font-weight:normal;
	margin-left:55px;
	}
.vip_lc ul{
	max-width:820px;
	width:100%;
	height:auto;
	float:right;
	margin-right:45px;
	margin-top:25px;
	}
.vip_lc ul li{
	width:164px;
	height:auto;
	float:left;
	}
.vip_lc ul li span{
	width:164px;
	height:46px;
	display:block;
	float:left;
	margin-bottom:4px;
	}
.vip_lc ul li .vij{
	width:164px;
	height:25px;
	float:left;
	line-height:25px;
	text-align:center;
	color:#595ec2;
	font-size:14px;
	}
.vip_lc ul li .vik{
	width:164px;
	height:25px;
	float:left;
	line-height:25px;
	text-align:center;
	color:#888888;
	font-size:14px;
	}
.vip_tx{
	max-width:1198px;
	width:100%;
	height:auto;
	overflow:hidden;
	padding-bottom:30px;
	border:1px solid #eaeaea;
	float:left;
	margin-top:10px;
	background:#fff;
	}
.viptita{
	max-width:1198px;
	width:100%;
	min-height:40px;
	float:left;
	margin-top:7px;
	line-height:40px;
	}
.viptita .vim{
	float:left;
	color:#444;
	font-size:18px;
	font-weight:bold;
	margin-left:30px;
	}
.viptita .vin{
	float:right;
	line-height:40px;
	margin-right:50px;
	color:#666;
	}
.viptita .vin .vio{
	color:#ff0000;
	font-size:14px;
	}
.vipul{
	max-width:1198px;
	width:100%;
	height:auto;
	float:left;
	}
.vipul li{
	max-width:1198px;
	width:100%;
	min-height:37px;
	float:left;
	margin-top:20px;
	}
.vipul li .vip{
	width:96px;
	height:37px;
	float:left;
	margin-left:34px;
	color:#444;
	font-size:14px;
	line-height:37px;
	}
.vipul li .vip .viq{
	font-size:14px;
	color:#ff0000;
	}
.vipul li .vir{
	width:307px;
	height:35px;
	float:left;
	border:1px solid #d8d8d8;
	display:block;
	}
.txt3{
	width:277px;
	height:35px;
	float:left;
	line-height:35px;
	text-indent:10px;
	color:#b8b8b8;
	}
.vipul li .vir .vis{
	width:20px;
	height:17px;
	display:block;
	float:left;
	background:#30F;
	margin-top:10px;
	cursor:pointer;
	}
.txt4{
	width:128px;
	height:35px;
	float:left;
	border:1px solid #d8d8d8;
	display:block;
	line-height:35px;
	text-indent:10px;
	color:#b8b8b8;
	}
.txt5{
	width:97px;
	height:35px;
	float:left;
	border:1px solid #d8d8d8;
	display:block;
	line-height:35px;
	text-indent:10px;
	color:#b8b8b8;
	}
.vipul li .vit{
	line-height:37px;
	float:left;
	color:#444;
	font-size:14px;
	margin-right:4px;
	margin-left:15px;
	}
.txt6{
	width:309px;
	height:35px;
	float:left;
	border:1px solid #d8d8d8;
	display:block;
	line-height:35px;
	text-indent:10px;
	color:#b8b8b8;
	}
.txt7{
	width:885px;
	height:35px;
	float:left;
	border:1px solid #d8d8d8;
	display:block;
	line-height:35px;
	text-indent:10px;
	color:#b8b8b8;
	}
.vipulul{
	max-width:940px;
	width:100%;
	height:auto;
	float:left;
	margin-left:130px;
	}
.vipulul li{
	width:131px;
	height:131px;
	float:left;
	margin-right:20px;
	margin-top:0px;
	cursor:pointer;
	}
.vipulul li .viu{
	width:131px;
	height:100px;
	display:block;
	float:left;
	}
.vipulul li .viv{
	width:131px;
	height:31px;
	float:left;
	text-align:center;
	line-height:31px;
	color:#444444;
	font-size:14px;
	}
.vipulul li:hover .viv{
	width:131px;
	height:31px;
	float:left;
	text-align:center;
	line-height:31px;
	color:#5f64c3;
	font-size:14px;
	}
.vipulal{
	max-width:940px;
	width:100%;
	height:auto;
	float:left;
	margin-left:130px;
	}
.vipulal li{
	width:auto;
	height:auto;
	float:left;
	margin-right:20px;
	margin-top:0px;
	height:23px;
	line-height:23px;
	}
.vipulal li a{
	padding-left:15px;
	padding-right:15px;
	display:block;
	float:left;
	background:#f2f2f2;
	color:#444444
	}
.vipulal li a:hover{
	background:#7377c0;
	color:#fff;
	}
.vipul li .viw{
	width:111px;
	height:38px;
	float:left;
	display:block;
	background:#7377c0;
	color:#fff;
	line-height:38px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	border-bottom:2px solid #42469b;
	border-radius:4px;
	margin-left:130px;
	}
.viplcone{
	max-width:1140px;
	width:100%;
	height:auto;
	float:left;
	margin-left:30px;
	border-bottom:6px solid #f2f2f2;
	}
.vipa{
	max-width:1140px;
	width:100%;
	height:auto;
	float:left;
	border-bottom:1px solid #f2f2f2;
	}
.vipale{
	width:150px;
	height:auto;
	float:left;
	}
.vipale p{
	color:#444444;
	font-size:18px;
	margin-top:23px;
	}
.vipale span{
	display:block;
	color:#7377c0;
	font-size:12px;
	margin-top:10px;
	cursor:pointer;
	}
.vipari{
	max-width:990px;
	width:100%;
	height:auto;
	float:left;
	margin-bottom:23px;
	}
.vipari li{
	max-width:990px;
	width:100%;
	min-height:37px;
	float:left;
	margin-top:20px;
	}
.vipari .vi_h{
	max-width:410px;
	width:100%;
	height:37px;
	float:left;
	margin-top:20px;
	}
.vipari li .va{
	width:85px;
	height:37px;
	float:left;
	color:#444;
	font-size:14px;
	line-height:37px;
	}
.vipari li .va .vb{
	color:#ff0000;
	}
.txt8{
	max-width:807px;
	width:100%;
	height:35px;
	float:left;
	border:1px solid #d8d8d8;
	display:block;
	line-height:35px;
	text-indent:10px;
	color:#b8b8b8;
	}
.vipari li a{
	display:block;
	float:left;
	padding-left:15px;
	padding-right:15px;
	height:25px;
	line-height:23px;
	color:#444;
	font-size:14px;
	margin-right:10px;
	background:#f2f2f2;
	}
.viplctwo{
	max-width:1140px;
	width:100%;
	height:auto;
	float:left;
	margin-left:30px;
	border-bottom:6px solid #f2f2f2;
	}
.vipari li .vc{
	width:50px;
	height:37px;
	float:left;
	color:#444;
	font-size:14px;
	line-height:37px;
	}
.vipari li .vc .vd{
	color:#ff0000;
	}
.vipari .vi_h .ve{
	width:24px;
	height:24px;
	display:block;
	float:left;
	margin-top:7px;
	margin-right:4px;
	}
.vipari li .vf{
	float:left;
	line-height:37px;
	color:#444;
	}
.txt9{
	display:block;
	float:left;
	margin-left:55px;
	margin-right:4px;
	margin-top:13px;
	}
.but2{
	width:111px;
	height:38px;
	background:#7377c0;
	float:left;
	margin-left:45%;
	border-bottom:2px solid #42469b;
	border-radius:4px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	cursor:pointer;
	margin-top:20px;
	}
	
.vip_ty{
	max-width:1198px;
	width:100%;
	min-height:440px;
	padding-bottom:30px;
	border:1px solid #eaeaea;
	float:left;
	margin-top:10px;
	background:#fff;
	}
.vipove{
	max-width:1198px;
	width:100%;
	min-height:25px;
	float:left;
	margin-top:210px;
	}
.vipove p{
	text-align:center;
	color:#686cb7;
	font-size:18px;
	font-weight:bold;
	}
.vipimg{
	max-width:1198px;
	width:100%;
	height:auto;
	float:left;
	border:1px solid #eaeaea;
	}
.vipima{
	max-width:1198px;
	width:100%;
	float:left;
	border-bottom:1px solid #eaeaea;
	}
.vipimb{
	max-width:1198px;
	width:100%;
	min-height:61px;
	float:left;
	background:#fff;
	}
.vipimb li{
	max-width:398px;
	width:100%;
	min-height:61px;
	float:left;
	border-left:1px solid #eaeaea;
	}
.vipimb li span{
	width:36px;
	height:36px;
	display:block;
	float:left;
	margin-left:25px;
	margin-top:15px;
	margin-right:7px;
	}
.vipimb li p{
	float:left;
	line-height:61px;
	color:#444;
	font-size:16px;
	}
.viplist{
	max-width:1198px;
	width:100%;
	min-height:50px;
	float:left;
	background:#fff;
	border:1px solid #eaeaea;
	margin-top:10px;
	}
.viplist span{
	width:29px;
	height:29px;
	display:block;
	float:left;
	margin-left:30px;
	margin-top:12px;
	}
.viplist p{
	float:left;
	line-height:50px;
	color:#444;
	font-size:24px;
	}
.vipnav{
	max-width:1200px;
	width:100%;
	height:auto;
	float:left;
	}
.vipnav li{
	max-width:1198px;
	width:100%;
	height:auto;
	float:left;
	border:1px solid #ebebeb;
	background:#fff;
	margin-top:10px;
	}
.vipla{
	width:185px;
	height:auto;
	float:left;
	padding-bottom:20px;
	}
.vipla .vg{
	width:96px;
	height:66px;
	display:block;
	float:left;
	background:url(../images/ia12.png);
	margin-top:20px;
	margin-left:30px;
	}
.vipla .vg p{
	color:#444444;
	font-size:18px;
	text-align:center;
	line-height:85px;
	}
.vipla .vg p .vh{
	color:#7377c0;
	font-size:23px;
	font-weight:bold;
	}
.vipra{
	max-width:982px;
	width:100%;
	height:auto;
	float:left;
	}
.viprt{
	max-width:982px;
	width:100%;
	height:70px;
	float:left;
	margin-top:10px;
	border-bottom:1px dashed #a4a4a4;
	float:left;
	}
.viprt p{
	float:left;
	line-height:85px;
	font-size:18px;
	font-weight:bold;
	color:#444;
	}
.viprt .vi{
	display:block;
	float:left;
	width:27px;
	height:27px;
	margin-left:8px;
	margin-right:8px;
	margin-top:30px;
	}
.viprt .vl{
	display:block;
	float:left;
	margin-left:8px;
	margin-right:8px;
	line-height:85px;
	color:#ff6600;
	font-weight:bold;
	}
.vipru{
	max-width:982px;
	width:100%;
	height:auto;
	float:left;
	padding-bottom:30px;
	}
.viprli{
	max-width:800px;
	width:100%;
	float:left;
	}
.viprli li{
	max-width:800px;
	width:100%;
	min-height:26px;
	float:left;
	margin-top:12px;
	border:0px;
	}
.viprli li span{
	width:26px;
	height:26px;
	display:block;
	float:left;
	margin-right:8px;
	}
.viprli li .vj{
	float:left;
	line-height:26px;
	color:#444444;
	font-size:14px;
	}
.viprli .vk{
	color:#444;
	font-size:14px;
	margin-top:15px;
	}
	
	
.vipib{
	width:154px;
	height:107px;
	float:left;
	background:#CF0;
	margin-top:20px;
	}
.vipib span{
	width:154px;
	height:107px;
	display:block;
	position:absolute;
	}
.vipib p{
	width:154px;
	height:20px;
	background:url(../images/ia17.png);
	position:relative;
	z-index:1;
	margin-top:87px;
	line-height:20px;
	text-align:center;
	color:#fff;
	}
	
