@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-x1rw37');
	src:url('fonts/icomoon.eot?#iefix-x1rw37') format('embedded-opentype'),
		url('fonts/icomoon.woff?-x1rw37') format('woff'),
		url('fonts/icomoon.ttf?-x1rw37') format('truetype'),
		url('fonts/icomoon.svg?-x1rw37#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-calendar1:before {
	content: "\e600";
}
.icon-calendar2:before {
	content: "\e601";
}
.icon-calendar3:before {
	content: "\e602";
}
.icon-calendar4:before {
	content: "\e603";
}
.icon-calendar5:before {
	content: "\e604";
}
.icon-calendar6:before {
	content: "\e605";
}
.icon-calendar7:before {
	content: "\e606";
}
.icon-calendar8:before {
	content: "\e607";
}
.icon-calendar9:before {
	content: "\e608";
}
.icon-calendar10:before {
	content: "\e609";
}
.icon-calendar11:before {
	content: "\e60a";
}
.icon-calendar12:before {
	content: "\e60b";
}
.icon-calendar13:before {
	content: "\e60c";
}
.icon-calendar14:before {
	content: "\e60d";
}
