.svg-calendar0 {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar1 {
	background-position: 0 -512px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar10 {
	background-position: 0 -1024px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar11 {
	background-position: 0 -1536px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar12 {
	background-position: 0 -2048px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar13 {
	background-position: 0 -2560px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar14 {
	background-position: 0 -3072px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar15 {
	background-position: 0 -3584px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar16 {
	background-position: 0 -4096px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar17 {
	background-position: 0 -4608px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar18 {
	background-position: 0 -5120px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar19 {
	background-position: 0 -5632px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar2 {
	background-position: 0 -6144px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar20 {
	background-position: 0 -6656px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar21 {
	background-position: 0 -7168px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar22 {
	background-position: 0 -7680px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar23 {
	background-position: 0 -8192px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar24 {
	background-position: 0 -8704px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar25 {
	background-position: 0 -9216px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar26 {
	background-position: 0 -9728px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar27 {
	background-position: 0 -10240px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar28 {
	background-position: 0 -10752px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar29 {
	background-position: 0 -11264px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar3 {
	background-position: 0 -11776px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar30 {
	background-position: 0 -12288px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar31 {
	background-position: 0 -12800px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar32 {
	background-position: 0 -13312px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar33 {
	background-position: 0 -13824px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar34 {
	background-position: 0 -14336px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar35 {
	background-position: 0 -14848px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar36 {
	background-position: 0 -15360px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar37 {
	background-position: 0 -15872px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar38 {
	background-position: 0 -16384px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar39 {
	background-position: 0 -16896px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar4 {
	background-position: 0 -17408px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar5 {
	background-position: 0 -17920px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar6 {
	background-position: 0 -18432px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar7 {
	background-position: 0 -18944px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar8 {
	background-position: 0 -19456px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-calendar9 {
	background-position: 0 -19968px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

